@import './fonts.css';

$text: #9CCFB0;
$background: #675E91;
$border: #AE7B9B;
$background-l: #BC8F89;

.body {
  font-family: "Montserrat", "Roboto", sans-serif;
  background: url('computer.gif') center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &__textarea {
    resize: none;
    margin: 114px 55px 350px 0;
    padding: 10px 15px;
    font-weight: 600;
    color: $text;
    background-color: $background;
    border: none;
    cursor: unset;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $border;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      padding: 2px;
      background-color: $border;
      border-radius: 4px;
    }
  }

  &__heading {
    visibility: hidden;
  }
}

.keyboard {
  position: fixed;
  bottom: 1%;
  left: auto;
  user-select: none;
  background-color: $border;

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__key {
    padding: 1.2vmin;
    min-height: 30px;
    min-width: 30px;
    background-color: $text;
    border: 0.5vmin solid $border;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.35s;
    
    &:hover {
      background-color: $background-l;
    }

    &:active,
    &_active {
      border-color: $text;
      background-color: $background-l;
    }

    &_secondary {
      display: none;
    }

    &_primary,
    &_secondary,
    &_special {
      color: $background;
    }

    &_caps {
      min-width: 90px;
    }

    &_left-shift {
      min-width: 60px;
    }

    &_space {
      min-width: 332px;
    }

    &_last {
      width: 100%;
      height: 100%;
    }
  }
}

.legend {
  position: fixed;
  right: 1vmin;
  top: 1vmin;
  max-width: 13.021vw;
  line-height: 24px;
  background-color: $background;
  border: 0.104vw solid $border;

  &__desc {
    color: $text;
    margin: 1vmin;
    cursor: default;
  }

  &__key {
    color: $text;
    border: 0.104vw solid $border;
    background-color: $background;
    padding: 0.5vmin;
    user-select: none;
  }
}